@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* global styles */
:root {
  --color-primary: #d81414;
  --color-secondary: #e9e9e9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Blinker sans-serif;
  font-size: 16px;
}
a {
  color: black;
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.container {
  padding: 50px 0;
}
.row {
  width: 100%;
  height: 100%;

  /* background-color: green; */
  max-width: 1080px;
  padding: 0 12px;
  margin: 0 auto;
}
/* nav styles */
nav {
  box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.5);
  height: 88px;
}
.nav_container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 0 10px;
  max-width: 1080px;
  height: 100%;
}
.nav_logo {
  width: 80px;
}
.nav_links {
  display: flex;
  gap: 20px;
}
.nav_link {
  font-size: 18px;
  text-transform: capitalize;
  &:hover {
    color: #404045;
    text-decoration: underline;
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
  }
}
/* header styles */

.header__row {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.header__title {
  text-align: center;
  font-size: 20px;
  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: var(--color-primary);
    margin: 0 auto 16px auto;
  }
}
.header__title > span {
  font-size: 20px;

  color: var(--color-primary);
  font-weight: 700;
}
.header__grid-container {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin: 0 auto;
}
.header__grid {
  position: relative;
  width: calc(50% - 6px);
  min-width: 200px;
  max-width: 500px;
  height: 200px;
  cursor: pointer;
  overflow: hidden;
}
.header__grid__item-caption {
  position: absolute;
  z-index: 10;
  left: 20px;
  bottom: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 6px;
  font-size: 26px;
  font-weight: 600;
}
.header__grid__img {
  filter: brightness(80%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.header__grid:hover .header__grid__img {
  filter: brightness(60%);
  transform: scale(1.05);
}
/* Products Section */

.products__row {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.products__title {
  font-size: 26px;
  font-weight: 600;
  transform: translateX(50px);
  /* text-align: center; */

  &::after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    /* transform: translateX(-100px); */
    background-color: var(--color-primary);
    margin: 10px 5px;
  }
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  /* padding: 0 36px; */
  justify-content: center;
  gap: 12px;
}

.product {
  width: calc(25% - 12px);
  border: 2px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 200ms ease;
}

.product:hover {
  border-color: rgba(0, 0, 0, 0.6);
}

.products__title > span {
  font-size: 28px;
  padding: 0 5px;

  color: var(--color-primary);
  font-weight: 600;
}
.product__img {
  width: 100%;
}

.product__details {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product__details__title {
  font-weight: 400;
  font-size: 18px;
}
.product__details__price {
  font-size: 22px;
  font-weight: 600;
}
/* banner-1 section */

.banner {
  display: flex;
  background-color: var(--color-secondary);
  flex-wrap: wrap;
  height: 400px;
}
.banner__text,
.banner__img {
  width: 50%;
  height: 100%;
}
.banner__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 120px;
  gap: 25px;
}
.banner__text__title {
  font-size: 32px;

  font-weight: 600;
  text-transform: capitalize;
}
.banner__text__para {
  font-size: 16px;
  font-weight: 400;
  word-spacing: 2px;
  line-height: 1.5rem;
}
.banner__text__btn {
  width: 50%;
  padding: 12px 6px;
  margin-top: 12px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 2px solid transparent;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: transparent;
    color: black;
    border-color: rgba(0, 0, 0, 0.9);
  }
  &:active {
    transform: scale(0.95);
  }
}
.banner__img {
  height: 100%;
  object-fit: cover;
  filter: brightness(80%);
}

/* trending products */

.products__trending__title {
  /* text-align: center; */
  transform: translateX(50px);
  font-size: 28px;
  font-weight: 600;
  &:after {
    content: url("/assets/trending-small.jpg");
    display: inline-block;

    transform: translate(2px, 5px);
    /* background-color: var(--color-primary); */
    /* margin: 0 auto 16px auto; */
  }
}

/* banner-2 */
.banner-2 {
  flex-direction: row-reverse;
  height: 300px;
}
